html,
body {
  margin: 0;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: rgb(99, 179, 126);
}
.main {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.menu {
  font-weight: bold;
  color: rgb(234, 172, 142);
  text-decoration: none;
  width: 15%;
  background-color: rgb(55, 116, 75);
  padding: 10px 20px 0px;
}

.header {
  background-color: rgb(99, 179, 126);
}

.footer {
  font-weight: bold;
  background-color: rgb(99, 179, 126);
  min-height: 150px;
  width: 100%;
}
